
input[type="checkbox"]:checked::before {
  transform: scale(1);
}


.checkbox-holder {
  margin-bottom: 12px;
}

.form-checkbox {
  text-transform: capitalize;
  padding-left: 30px;
  background-image: url(../icons/checkbox-empty.svg);
  background-position: left;
  background-size: 16px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.checkbox-holder input[type="checkbox"]:checked + .form-checkbox {
	background-image: url(../icons/checkbox-checked.svg);
}

.checkbox-holder input[type="radio"]:checked + .form-checkbox {
	background-image: url(../icons/checkbox-checked.svg);
}

.hidebx {
	display: none !important;
}


/* Pagination */
.paginationHolder {
	list-style: none;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top:60px;
}

.paginationHolder a {
	padding: 10px;
	margin: 2px;
	border-radius: 5px;
	font-size: 18px;
	color: #b4b4b4;
	cursor: pointer;
}

.paginationActive a {
	cursor: default;
	pointer-events: none;
	color: #000000;
}

.prevBtn,
.nextBtn {
	background-image: url(../icons/carret-down.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
}

.prevHolder {
	transform: rotate(90deg);
}

.nextHolder {
	transform: rotate(-90deg);
}
